<!--<div>
  <input type="text" [(ngModel)]="title">
aplicacion: {{ title }}

  <div *ngFor="let a of artists">
    <div *ngIf="a.name == 'deadmau5'">
      <h1>Artista: {{ a.name }}</h1>
      <p>Seguidores: {{ a.followers.total }}  </p>
      <p>Popularidad: #{{ a.popularity }}</p>
      <img [src]="a.images[2].url" alt="">
      
    </div> 
      
  </div>

</div>-->
  
<!--header-->
<app-header></app-header>
<!--Contenido-->
<router-outlet></router-outlet>
<!--footer-->
<app-footer></app-footer>